<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
	<title>Карта клієнта</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul id="groupList" class="nav navbar-nav">
					<li><button type="button" id="add" class="btn btn-default navbar-btn">Add Contact</button></li>
					<li><button type="button" id="delete_contact" class="btn btn-default navbar-btn">Delete Contact</button></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">doctor <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">Default</a></li>
							<% for (Doctor doctor : doctors) { %>
							<li><a href="/doctor/<%=doctor.getId()%>"><%=doctor.getName()%></a></li>
							<% } %>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search" action="/search" method="post">
					<div class="form-group">
						<input type="text" class="form-control" name="pattern" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<table class="table table-striped">
		<thead>
		<tr>
			<td></td>
			<td><b>Name</b></td>
			<td><b>Surname</b></td>
			<td><b>Phone</b></td>
			<td><b>E-mail</b></td>
			<td><b>Doctor</b></td>
		</tr>
		</thead>

		<tr>
			<td><input type="checkbox" name="toDelete[]" value="<%=parients.getId()%>" id="checkbox_<%=parients.getId()%>"/></td>
			<td th:text="${patient.lastName}"></td>
			<td th:text="${patient.firstName}"></td>
			<td th:text="${patient.midlName}"></td>
			<td th:text="${patient.phone}"></td>
			<td th:text="${patient.pastConditions}"></td>
			<td th:text="${patient.relatedConditions}"></td>
			<td th:text="${patient.allergies}"></td>
			<td th:text="${patient.medications}"></td>

			<td th:text="${patient.complaints}"></td>
			<td th:text="${patient.doctor}"></td>
			<td><%=Parients.getDoctor().getName()%></td>
			<% } else { %>
			<td>Default</td>
			<td>masiuk</td>
			<% } %>
		</tr>
		<% } %>
	</table>

	<nav aria-label="Page navigation">
		<ul class="pagination">
			<% for (int i = 1; i <= pages; i++) { %>
			<li><a href="/?page=<%=i - 1%>"><%=i%></a></li>
			<% } %>
		</ul>
	</nav>
</div>

<script>
	$('.dropdown-toggle').dropdown();

	$('#create_patients').click(function(){
		window.location.href='/create_patients';
	});

	$('#delete_patients').click(function(){
		var data = { 'toDelete[]' : []};
		$(":checked").each(function() {
			data['toDelete[]'].push($(this).val());
		});
		$.post("/patients/delete", data, function(data, status) {
			window.location.reload();
		});
	});
</script>
</body>
</html>